@{
    ViewData["Title"] = "Accueil";
}

<style>
    /* Adjust the size of the image */
    .logo-img {
        width: 1000px; /* Adjust the width as needed */
        height: auto; /* Maintain aspect ratio */
    }

    /* Make the image scrollable */
    .scrollable-img {
        max-height: 1000px; /* Adjust the maximum height as needed */
        overflow-y: auto; /* Enable vertical scrolling */
    }
</style>
<div class="text-center">
<!-- Store name -->
<h1 class="display-4">
    ElectroCity
</h1> 
<!-- Introduction to the site -->
    <p>Sur notre site dédié aux appareils électroménagers. Nous offrons une large gamme de produits de qualité pour répondre à vos besoins en matière d'électroménager.</p>
    <!-- Logo or image -->
    <div class="scrollable-img">
        <img class="logo-img" src="~/images/logo.jpg" alt="Logo or image" />
    </div>

    
    
</div>
